.switch-button {
  display: flex;
    justify-content: center;
  padding-top: 5%;
}
.option1, .option2 {
  background-color: #FFFFFF;
  color: #000000;
  border: 1px solid #000000;
  padding: 8px 16px;
  cursor: pointer;
}
.option1 {
  border-radius: 20px 0px 0px 20px;
}

.option2 {
  border-radius: 0px 20px 20px 0px;
}

.selected {
  background-color: #F95757;
  color: #FFFFFF;
}
