.write{
    margin-bottom: 2%;
}

.inLineForm{
    display: inline-block;
    width: 80%;
}

.commentField{
    width: 80%;
}

.comments{
    margin-top: 2%;
    margin-bottom: 2%;
    
}
.commentList{
    max-height: 300px;
    overflow-y: scroll;
}
.commentList::-webkit-scrollbar { width: 0 !important }


.avatar{
    margin-right: 2%;
}
.sendComment{
    margin-left: 2%;
}

.pseudoComment{
    font-size: 20px;
}

.commentText{
    font-size: 15px;
    font-style: italic;
    color: #555555;
}

.comment{
    padding: 15px;
}