.logoFriendZone{
    width: 100px;
    height: 100px;
}

.navigation{
    height: 200px;
    color: white;
    font-size: 30px;
    background: rgb(62,62,62);
    background: -moz-linear-gradient(0deg, rgba(62,62,62,0) 0%, rgba(32,32,32,0.3757878151260504) 16%, rgba(52,52,52,0.6334908963585435) 67%);
    background: -webkit-linear-gradient(0deg, rgba(62,62,62,0) 0%, rgba(32,32,32,0.3757878151260504) 16%, rgba(52,52,52,0.6334908963585435) 67%);
    background: linear-gradient(0deg, rgba(62,62,62,0) 0%, rgba(32,32,32,0.3757878151260504) 16%, rgba(52,52,52,0.6334908963585435) 67%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3e3e3e",endColorstr="#343434",GradientType=1);
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.navigation a{
    color: white;
    text-decoration: none;
}

.backgroundNav{
    height: 400px;
    background-image: url(../assets/friends-img.png);
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
}