.posts{
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.friendplace-title{
  color: #E5E5E5;
  font-family: "Bell MT", serif;
}
.title-fp{
    font-size: 90px;
    font-weight: bold;
}
.subtitle-fp{
  font-style: italic;
  font-size: 40px;
}


.blur-background{
  background: inherit;
}