.register-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-form {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: flex-start;
  margin-top: 2%;
}

.message-row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.message-row:nth-child(odd) {
  justify-content: flex-start;
}

.bubble-left,
.bubble-right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  max-width: 250px;
  word-wrap: break-word;
}

.bubble-left>input,
.bubble-right>input {
  border: none;
}

.bubble-left {
  background-color: #F95757;
  color: #FFFFFF;
  border-radius: 20px 20px 20px 5px;
  margin-left: 10px; // Ajout pour créer de l'espace entre l'icône et la bulle
}

.bubble-right {
  background-color: #FFFFFF;
  color: #000000;
  border-radius: 20px 20px 5px 20px;
  margin-right: 10px; // Ajout pour créer de l'espace entre l'icône et la bulle
}

.icon-left,
.icon-right {
  height: 2em; /* Ajustez cette valeur en fonction de la hauteur de vos bulles */
  width: auto; /* Cela permettra de préserver le rapport d'aspect de l'image */
}

.submit-register {
  margin-top: 10%;
  width: 100px;
  height: 40px;
  background-color: #F95757;
  color: #FFFFFF;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  align-self: center;
}

